# Deliverable 2. Create a Customer Travel Destinations Map.
----
1. Create a folder called `Vacation_Search` to save all the files related with this deliverable.

2. Download the `Vacation_Search_starter_code.ipynb` Jupyter notebook,save it into your `Vacation_Search folder`, and rename it as `Vacation_Search.ipynb`.

3. In the `Vacation_Search.ipynb` file, ensure that the dependencies and the Google API key is imported correctly.

4. From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`.

5. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

6. Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`.

7. Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

8. Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

9. Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

10. Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

11. Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

12. Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

13. Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

14. Review the formatting template provided that you'll use to add an information box to each marker in the map. In the pop-up for each city you'll add:

    1. The city name.

    2. The country code.

    3. The weather description and maximum temperature for the city.

15. Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

16. Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

17. Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

18. Take a screenshot of your map and save it to the `Vacation_Search` folder as `WeatherPy_vacation_map.png`.
---

## Ensure that the dependencies and the Google API key is imported correctly.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import Google API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

## From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame.

In [2]:
# Set the file path to import the WeatherPy_database.csv file
file_path = "../Weather_Database/WeatherPy_database.csv"

# Load the CSV file into a Pandas DataFrame
city_data_df = pd.read_csv(file_path)

# Display sample data
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Current Description
0,0,Hobart,-42.8794,147.3294,55.26,55,40,12.66,AU,2022-10-04 00:51:20,scattered clouds
1,1,Mar Del Plata,-38.0023,-57.5575,53.10,84,0,6.91,AR,2022-10-04 00:53:59,clear sky
2,2,Mataura,-46.1927,168.8643,53.87,65,98,10.98,NZ,2022-10-04 00:53:59,overcast clouds
3,3,Kodiak,57.7900,-152.4072,51.31,76,100,10.36,US,2022-10-04 00:54:00,overcast clouds
4,4,Port Elizabeth,-33.9180,25.5701,59.31,87,0,13.80,ZA,2022-10-04 00:54:00,clear sky

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [3]:
# Prompt the user to enter the minimum temperature criteria
min_temp = float(input("What is the minimum temperature you would like for your trip? "))

# Prompt the user to enter the maximum temperature criteria
max_temp = float(input("What is the maxiumum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maxiumum temperature you would like for your trip? 90

## Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected.

In [4]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Current Description
12,12,Bandarbeyla,9.4942,50.8122,76.87,77,26,21.52,SO,2022-10-04 00:54:03,scattered clouds
18,18,Hithadhoo,-0.6000,73.0833,81.97,69,100,16.67,MV,2022-10-04 00:54:05,overcast clouds
21,21,Sabla,12.7525,4.7077,79.99,74,17,9.15,NG,2022-10-04 00:54:06,few clouds
26,26,Iquitos,-3.7481,-73.2472,78.84,73,40,4.61,PE,2022-10-04 00:54:08,scattered clouds
27,27,Balotra,25.8333,72.2333,79.84,52,0,6.29,IN,2022-10-04 00:54:08,clear sky
37,37,Beeville,28.4008,-97.7483,80.98,41,0,0.00,US,2022-10-04 00:54:04,clear sky
39,39,Itarema,-2.9248,-39.9167,77.83,77,97,14.05,BR,2022-10-04 00:54:13,overcast clouds
41,41,Vaini,-21.2000,-175.2000,80.76,78,75,12.66,TO,2022-10-04 00:54:13,broken clouds
43,43,Lorengau,-2.0226,147.2712,85.91,67,17,10.78,PG,2022-10-04 00:55:14,few clouds
46,46,Sur,22.5667,59.5289,77.58,76,0,6.13,OM,2022-10-04 00:55:15,clear sky

In [5]:
# See any descrepency 
preferred_cities_df.count()

City_ID                210
City                   210
Lat                    210
Lng                    210
Max Temp               210
Humidity               210
Cloudiness             210
Wind Speed             210
Country                210
Date                   210
Current Description    210
dtype: int64

## Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

In [6]:
# Drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame.
clean_travel_cities = preferred_cities_df.dropna()
# Display sample data
clean_travel_cities

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Current Description
12,12,Bandarbeyla,9.4942,50.8122,76.87,77,26,21.52,SO,2022-10-04 00:54:03,scattered clouds
18,18,Hithadhoo,-0.6000,73.0833,81.97,69,100,16.67,MV,2022-10-04 00:54:05,overcast clouds
21,21,Sabla,12.7525,4.7077,79.99,74,17,9.15,NG,2022-10-04 00:54:06,few clouds
26,26,Iquitos,-3.7481,-73.2472,78.84,73,40,4.61,PE,2022-10-04 00:54:08,scattered clouds
27,27,Balotra,25.8333,72.2333,79.84,52,0,6.29,IN,2022-10-04 00:54:08,clear sky
...,...,...,...,...,...,...,...,...,...,...,...
664,664,Harlingen,26.1906,-97.6961,79.90,49,0,5.75,US,2022-10-04 01:11:49,clear sky
668,668,Carauari,-4.8828,-66.8958,79.02,76,67,2.77,BR,2022-10-04 01:09:10,heavy intensity rain
671,671,Picota,-6.9197,-76.3304,77.49,97,66,0.38,PE,2022-10-04 01:12:14,broken clouds
674,674,Labuhan,-6.8844,112.2051,82.06,71,98,11.32,ID,2022-10-04 01:12:15,overcast clouds
677,677,Dwarka,22.2394,68.9678,80.62,71,34,6.06,IN,2022-10-04 01:12:16,scattered clouds

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

In [7]:
# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
12,Bandarbeyla,SO,76.87,scattered clouds,9.4942,50.8122,
18,Hithadhoo,MV,81.97,overcast clouds,-0.6000,73.0833,
21,Sabla,NG,79.99,few clouds,12.7525,4.7077,
26,Iquitos,PE,78.84,scattered clouds,-3.7481,-73.2472,
27,Balotra,IN,79.84,clear sky,25.8333,72.2333,
37,Beeville,US,80.98,clear sky,28.4008,-97.7483,
39,Itarema,BR,77.83,overcast clouds,-2.9248,-39.9167,
41,Vaini,TO,80.76,broken clouds,-21.2000,-175.2000,
43,Lorengau,PG,85.91,few clouds,-2.0226,147.2712,
46,Sur,OM,77.58,clear sky,22.5667,59.5289,

## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

In [8]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame
hotel_df['Hotel Name'] = ''

# Display sample data
hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
12,Bandarbeyla,SO,76.87,scattered clouds,9.4942,50.8122,
18,Hithadhoo,MV,81.97,overcast clouds,-0.6000,73.0833,
21,Sabla,NG,79.99,few clouds,12.7525,4.7077,
26,Iquitos,PE,78.84,scattered clouds,-3.7481,-73.2472,
27,Balotra,IN,79.84,clear sky,25.8333,72.2333,

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

In [9]:
# Review the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

## Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

In [10]:
# Iterate through the hotel DataFrame 
for index, row in hotel_df.iterrows():
    # Fetch latitude and longitude from the DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude as parameters to the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Set up the base URL for the Google Directions API to get JSON data
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make an API request and retrieve the JSON data from the hotel search
    hotels = requests.get(base_url, params=params).json()
    
    # Get the first hotel from the results and store the name, if a hotel isn't found skip the city
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [12]:
# Display sample data

hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
12,Bandarbeyla,SO,76.87,scattered clouds,9.4942,50.8122,JABIR HOTEL
18,Hithadhoo,MV,81.97,overcast clouds,-0.6000,73.0833,Scoop Guest House
21,Sabla,NG,79.99,few clouds,12.7525,4.7077,
26,Iquitos,PE,78.84,scattered clouds,-3.7481,-73.2472,Cortez Malaga Techy Caroly
27,Balotra,IN,79.84,clear sky,25.8333,72.2333,Hotel City Square

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

In [13]:
# Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna(subset=['Hotel Name'], how='any')

# Display sample data

clean_hotel_df = clean_hotel_df[clean_hotel_df['Hotel Name'].astype(bool)]
clean_hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
12,Bandarbeyla,SO,76.87,scattered clouds,9.4942,50.8122,JABIR HOTEL
18,Hithadhoo,MV,81.97,overcast clouds,-0.6000,73.0833,Scoop Guest House
26,Iquitos,PE,78.84,scattered clouds,-3.7481,-73.2472,Cortez Malaga Techy Caroly
27,Balotra,IN,79.84,clear sky,25.8333,72.2333,Hotel City Square
37,Beeville,US,80.98,clear sky,28.4008,-97.7483,"Holiday Inn Express & Suites Beeville, an IHG ..."

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [ ]:
# In case of an empty DataFrame, load the sample data provided
# clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
# clean_hotel_df.head(10)

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

In [23]:
# Set the file name.
output_data_file = 'WeatherPy_vacation.csv'

# Create a CSV file by using the clean_hotel_df DataFrame
clean_hotel_df.to_csv(output_data_file)

### Review the formatting template provided that you'll use to add an information box to each marker in the map.

In the pop-up for each city you'll add: 

1. The city name

2. The country code

3. The weather description and maximum temperature for the city

In [15]:
# Review the formatting template provided
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

## Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

In [16]:
# Get the data from each row in the clean_hotel_df DataFrame, add it to the formatting template, and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# Display sample data
hotel_info[:10]

['\n<dl>\n<dt>Hotel Name</dt><dd>JABIR HOTEL</dd>\n<dt>City</dt><dd>Bandarbeyla</dd>\n<dt>Country</dt><dd>SO</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 76.87 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Scoop Guest House</dd>\n<dt>City</dt><dd>Hithadhoo</dd>\n<dt>Country</dt><dd>MV</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 81.97 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Cortez Malaga Techy Caroly</dd>\n<dt>City</dt><dd>Iquitos</dd>\n<dt>Country</dt><dd>PE</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 78.84 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel City Square</dd>\n<dt>City</dt><dd>Balotra</dd>\n<dt>Country</dt><dd>IN</dd>\n<dt>Current Weather</dt><dd>clear sky and 79.84 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Holiday Inn Express & Suites Beeville, an IHG Hotel</dd>\n<dt>City</dt><dd>Beeville</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Current Weather</dt><dd>clear sky and 80.98 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Sea Lounge! Bar, Club & Restaurant</dd>\n<dt>City</dt><dd>Itarema</dd>\n<dt>Country</dt><dd>BR</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 77.83 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Keleti Beach Resort</dd>\n<dt>City</dt><dd>Vaini</dd>\n<dt>Country</dt><dd>TO</dd>\n<dt>Current Weather</dt><dd>broken clouds and 80.76 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Lorengau Harbourside Hotel</dd>\n<dt>City</dt><dd>Lorengau</dd>\n<dt>Country</dt><dd>PG</dd>\n<dt>Current Weather</dt><dd>few clouds and 85.91 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Sur Plaza Hotel</dd>\n<dt>City</dt><dd>Sur</dd>\n<dt>Country</dt><dd>OM</dd>\n<dt>Current Weather</dt><dd>clear sky and 77.58 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Federal</dd>\n<dt>City</dt><dd>Coro</dd>\n<dt>Country</dt><dd>VE</dd>\n<dt>Current Weather</dt><dd>clear sky and 80.62 °F</dd>\n</dl>\n']

## Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

In [17]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

# Display sample data
locations.head(10)

        Lat       Lng
12   9.4942   50.8122
18  -0.6000   73.0833
26  -3.7481  -73.2472
27  25.8333   72.2333
37  28.4008  -97.7483
39  -2.9248  -39.9167
41 -21.2000 -175.2000
43  -2.0226  147.2712
46  22.5667   59.5289
47  11.4045  -69.6734

## Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

In [19]:
# Add a marker layer for each city to the map. 
locations = clean_hotel_df[["Lat", "Lng"]]
max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)


# Create a figure to add the Google map as a layer
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Display the figure containing the map

fig

Figure(layout=FigureLayout(height='420px'))